<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="row">
    <div class="col-6">
      <label for="firstName">Jméno *</label>
      <input formControlName="firstName" type="text" class="form-control mb-2" id="firstName" />
    </div>
    <div class="col-6">
      <label for="lastName">Příjmení *</label>
      <input formControlName="lastName" type="text" class="form-control mb-2" id="lastName" />
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label for="age">Věk (alespoň 18 let)</label>
      <input formControlName="age" type="number" class="form-control mb-2" id="age" />
    </div>
    <div class="col-6">
      <div>Pohlaví</div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="gender"
          id="male"
          formControlName="gender"
          [value]="UserGender.MALE"
        />
        <label class="form-check-label" for="male"> Muž </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="gender"
          id="female"
          formControlName="gender"
          [value]="UserGender.FEMALE"
        />
        <label class="form-check-label" for="female"> Žena </label>
      </div>
    </div>
  </div>
  <h3>Adresa</h3>
  <ng-container formGroupName="address">
    <label for="street">Ulice a č.p. *</label>
    <input formControlName="street" type="text" class="form-control mb-2" id="street" />
    <div class="row">
      <div class="col-8">
        <label for="street">Město *</label>
        <input formControlName="city" type="text" class="form-control mb-2" id="street" />
      </div>
      <div class="col-4">
        <label for="country">Stát *</label>
        <select formControlName="country" id="country" class="form-control">
          <option value="cz">Česko</option>
          <option value="sk">Slovensko</option>
        </select>
      </div>
    </div>
  </ng-container>
  <div class="text-end">
    <button type="button" class="btn btn-lg btn-secondary my-4 me-2" (click)="resetForm()">
      Vyčistit
    </button>
    <button type="submit" class="btn btn-lg btn-success my-4">
      Uložit
    </button>
  </div>
</form>
